.header {

&-banner {
  background-color: rgb(19, 82, 162);
  border-bottom: .15rem solid grey;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  width: 100%;
  color: white;
  text-shadow: .8px .8px black;


}
&-union {
font-size: 1rem;
margin-top: -1rem;
}

&-nav-bar {
    list-style: none;
margin-right: 2rem;

    &::after {
      content: "";
      clear: both;
      display: table;


}
    & li {
      margin-top: -1rem;
      display: inline;
      margin-left: 2rem;
      float: right;
      font-weight: 600;
      font-size: 1.2rem;

       a {
         text-decoration: none;
         color: white;

       }

       :hover {
         text-decoration: underline;
       }


    }
  }
}
