html {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   
}



body {
font-family: 'Work Sans', sans-serif;
text-shadow: .4px .4px grey;
margin: 0px;
padding: 0;
height: 100%;
width: 100%;

& p {
  font-weight: 300;
}

}


* {
  box-sizing: border-box;
}





a {
  text-decoration: none;
}
