body {
  font-family: 'Exo 2', sans-serif;
  background: rgb(240, 241, 238);
  color: rgb(51, 51, 51);
}


* {
  box-sizing: border-box;
}



.headshot-sizing img {
  height: 36.31rem;
  width: 23.13rem;
}

a {
  text-decoration: none;
}
