

.about {
margin: auto;
color: #0B2438;
text-shadow: .5px .5px grey;
font-size: 1.3rem;
margin-bottom: 7%;

& p {
  margin-bottom: 10%;
}

&-wrapper {
  width: 60%;
}

& h3 {
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  text-shadow: 1px 1px grey;
}

&-box {
  width: 50px;
  height: 50px;
  background-color: #C0603F;
  box-shadow: 2.5px 5px 4px #393931;

}

&-boxes {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

}
