.grid {

  @media (min-width: 1000px) {





  display: grid;
}
  &-about {
    grid-template-columns: 3fr 1.3fr;
    grid-column-gap: 35px;
  }


&-contact {
    grid-template-columns: .8fr 1fr;


}

&-resume {
  display: grid;
  grid-template-columns: 1fr .7fr 1.5fr;
  grid-auto-rows: 18px;

&-twocolumn {
  grid-template-columns: 1.35fr 1fr;
  grid-column-gap: 15px;


}

}
}
