.grid {
  display: grid;


&-contact {
    grid-template-columns: 1fr 1fr;
}

&-resume {

  grid-template-columns: 1fr .7fr 1.5fr;
  grid-auto-rows: 18px;

&-twocolumn {
  grid-template-columns: 1.35fr 1fr;
  grid-column-gap: 15px;
}

}
}
