.resume {
  &-flex {
    display: flex;
    flex-direction: row;

  }

  &-flex-col-half {
    width: 50%;

  }

  &-headshot {
    width: 80%;
    margin: auto;
  }

  &-align-center {
    text-align: center;
  }
  &-section-flex-row {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
  }
}
