.row {
display: inline-block;

&-middle {
  float: left;
  width: 20%;

}
  &__medium-4-right {
    float: left;
    width: 40%;
  }

  &__medium-4-left {
  float: left;
    width: 40%;
  }

  &__medium-4 {
float: left;
    width: 35%;


  }
&-6 {
  float: left;
  width: 50%;

}
  :after {
    content: "";
    clear: both;
    display: table;
}
}
